.top-bar {
    background-color: #333;
    overflow: hidden;
}

.top-bar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-bar a:hover {
    background-color: #ddd;
    color: black;
}

h1,
h2,
h3 {
    text-align: center;
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu {
    width: 200px;
}

.menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
}

.info #E-Brain,
#Type-m,
#How,
#B-add {
    background-color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: cadetblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

footer {
    overflow: hidden;
}

footer a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}